@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {

    --Red: hsl(0, 100%, 67%);
    --Orangey: hsl(39, 100%, 56%);
    --Green: hsl(166, 100%, 37%);
    --Cobalt: hsl(234, 85%, 45%);

    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);

    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    --mobile: 375px;
    --deskt: 1440px;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px; 
}
@media (min-width: 375px) {
    body {
        height: 100vh;
        display: flex;
    justify-content: center;
    align-items: center;
    }
}

.container {
    max-width: 300px;
    margin: 0 auto;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 375px) {
    .App {
        flex-direction: row;
        margin: 0 auto;
        width: 650px;
        height: 400px;
        box-shadow: 5px 5px 50px 1px var(--Light-lavender);
        border-radius: 25px;
    }
}

/**** Result big Box *****/

.result {
    background: linear-gradient(180deg, var(--Light-slate-blue) 0%, var(--Light-royal-blue) 100%);
    border-radius: 25px;
    padding: 30px 60px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

}

@media (min-width: 375px) {
    .result {
        max-width: 300px;
        padding: 25px 50px;
    }
}

.result-heading {
    font-size: 16px;
    color: var(--Pale-blue);
    opacity: 0.8;
}

.result-indicator {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: linear-gradient(180deg, var(--Violet-blue) 0%, var(--Persian-blue) 100%);
    margin: 25px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.result-indicator-title {
    color: var(--White);
    font-size: 50px;
    font-weight: 800;
}
.result-indicator-total {
    font-size: 14px;
    color: var(--Pale-blue);
    opacity: 0.4;
}


.result-feedback-title {
    font-size: 20px;
    color: var(--White);
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}
.result-feedback-description {
    font-size: 14px;
    color: var(--Pale-blue);
    opacity: 0.8;
    text-align: center;
}


/***** Summary section *****/

.summary {
    margin-top: 10px;
    width: 100%;
    flex: 1;
}
@media (min-width: 375px) {
    .summary {
        max-width: 300px;
        padding: 20px;
    }
}

.summary-heading {
    color: var(--Dark-gray-blue);
    font-size: 16px;
    font-weight: 800;
    padding: 10px 0;
}

.summary-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    margin: 15px 0;
    position: relative;
    width: 100%;
}
.summary-box-heading {
    display: flex;
    gap: 10px;
    font-size: 14px;
    font-weight: 800;
}

.summary-box-scoring {
    display: flex;
    gap: 10px;
    font-size: 14px;
    font-weight: 800;
}

.summary-box:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: var(--Red);
    border-radius: 10px;
    opacity: 0.1;
    z-index: -1;
}
.summary-box:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: var(--Orangey);
    border-radius: 10px;
    opacity: 0.1;
    z-index: -1;
}
.summary-box:nth-child(4)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: var(--Green);
    border-radius: 10px;
    opacity: 0.1;
    z-index: -1;
}
.summary-box:nth-child(5)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: var(--Cobalt);
    border-radius: 10px;
    opacity: 0.1;
    z-index: -1;
}


.summary-score {
    color: var(--Dark-gray-blue);
    opacity: 0.9;
    font-weight: 800;
}

.summary-score-total {
    color: var(--Dark-gray-blue);
    opacity: 0.6;
    font-weight: 700;
}


/**** cta ****/

.btn {
    width: 100%;
    text-align: center;
    background: linear-gradient(180deg, var(--Dark-gray-blue) 0%, var(--Dark-gray-blue) 100%);
    color: var(--White);
    border: none;
    border-radius: 25px;
    padding: 15px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0;
    transition: all 0.6s;
}

.btn:hover {
    background: linear-gradient(180deg, var(--Light-slate-blue) 0%, var(--Light-royal-blue) 100%);
    cursor: pointer;   
}